@use '../common/var' as *;
@use '../mixins/mixins' as *;
// project(分组名称)
@include project(title){
  font-weight: bold ;
  font-size: 16px;
  line-height: 2;
 .title-block{
   width: 4px;
   height: 16px;
   background-color: $blue-color;
   display: inline-block;
   margin: 0px 4px;
 }
}

