@use '../common/var' as *;
.h100{
  height: 100%;
}
.w100{
  width: 100%;
}
.overflow-auto{
  overflow: auto;
}
.bold{
  font-weight: bold;
}
.border{
  border: $border;
}
.border-right{
  border-right: $border
}
.border-bottom{
  border-bottom: $border
}
.flex1{
  flex: 1 !important;
}
.pointer{
  cursor: pointer;
}
.margin-right10{
  margin-right: 10px;
}
.margin-left10{
  margin-left: 10px;
}
.padding10{
  padding: 10px;
}
.padding-left10{
  padding-left: 10px;
}
.padding-bottom10{
  padding-bottom: 10px;
}
.line-height2{
  line-height: 2;
}
.line-height1_8{
  line-height: 1.8;
}