@use '../common/var' as *;
.h100{
  height: 100%;
}
.border-right{
  border-right: $border
}
.border-bottom{
  border-bottom: $border
}
.flex1{
  flex: 1 !important;
}
.pointer{
  cursor: pointer;
}
.margin-right10{
  margin-right: 10px;
}
.margin-left10{
  margin-left: 10px;
}
.padding10{
  padding: 10px;
}